  // .constructor__btn

  .constructor__btn {
    display: inline-flex;
    align-items: center;
    column-gap: rem(9);
    padding: rem(12) rem(27) rem(12) rem(24);
    border-radius: 8px;
    font-weight: 600;
    font-size: rem(17);
    line-height: rem(21);
    color: var(--whiteColor);
  }

  // .constructor__btn--disabled

  .constructor__btn--disabled {
    user-select: none;
    pointer-events: none;
    cursor: default;
    background-color: var(--grayColor);
  }

  .constructor__btns {
    display: inline-flex;
    align-items: center;
    column-gap: em(24);
  }

  .constructor__btn {}

  .constructor__btn--back {
    padding: 0;
    background-color: transparent;
    color: var(--blackColor);
  }

  .constructor__btn--next {
    background-color: var(--orangeColor);
  }

  .constructor__btn--next {
    transition: background-color 0.2s linear;

    &:hover {
      background-color: #D95700;
    }

    &:disabled {
      background-color: #A1A1A1;
    }
  }

  .constructor__btn--back {
    transition: color 0.1s linear;

    & svg path {
      transition: stroke 0.1s linear;
    }

    &:hover {
      color: var(--orangeColor);

      & svg path {
        stroke: var(--orangeColor);
      }
    }
  }