.constructor__step--first-line-check {
  background-color: var(--orangeColor);
}

.constructor__step-num--active-check {
  background-color: var(--orangeColor);

  &::after {
    background-color: rgba(255, 102, 0, 0.3);
  }
}

.constructor__step-descr--active-check {
  font-weight: 500;
  color: var(--blackColor);
}

/* ARROWS */
.constructor__slider-next,
.constructor__slider-prev {
  position: absolute;
  cursor: pointer;
}

.constructor--2-1 {
  & .constructor__from-title {
    margin-bottom: em(10);
  }

  & .constructor__steps-container {
    margin-bottom: em(40);
  }

}

.constructor {

  // .constructor__slider

  &__slider {
    position: relative;
    max-width: em(900);
    margin: 0 auto;
    width: 100%;
    height: em(300);
    margin-bottom: 50px;
    overflow: hidden;

    @media (max-width: $breakpoint480) {
      max-height: 30em;
      height: auto;
    }
  }

  // .constructor__slider--2-1

  &__slider--2-1 {}

  // .constructor__slider-swiper

  &__slider-swiper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  // .constructor__slider-wrapper

  &__slider-wrapper {
    @media (max-width: $breakpoint480) {
      max-height: 25em;
    }

    &.js-second-font {
      font-family: var(--secondFont);
    }

    &.js-third-font {
      font-family: var(--thirdFont);
    }
  }

  .swiper-slide {
    transform: inherit;
  }

  // .constructor__slide

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: -40px;
    transform: scale(0.4) !important;
    transition: all .3s ease;

    &.swiper-slide-active {
      margin-bottom: 0;
      transform: scale(1) !important;
      z-index: 2
    }

    &.swiper-slide-active .product-slide__right {
      width: auto;
      opacity: 1;
    }

    @media (max-width: $breakpoint992) {
      &.swiper-slide-active {
        transform: scale(0.6) translateZ(0) !important;
      }
    }

    @media (max-width: $breakpoint480) {

      &.swiper-slide-active {
        transform: scale(1) translateZ(0) !important;

      }
    }
  }

  // .constructor__slider-next

  &__slider-next {
    top: 50%;
    right: 0;
    z-index: 2;
  }

  // .constructor__slider-prev

  &__slider-prev {
    top: 50%;
    left: 0;
    z-index: 2;
  }

  &__slider-pagination {
    display: none;

    & .swiper-pagination-bullet {
      font-size: 0;
      line-height: 0;
      opacity: 1;
      background-color: #E3E3E3;

      &.swiper-pagination-bullet-active {
        background-color: var(--orangeColor);
      }
    }

    @media (max-width: $breakpoint480) {
      display: block;
    }
  }

  // .constructor__footer

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  // .constructor__price

  &__price {
    font-weight: 600;
    font-size: rem(32);
    line-height: rem(39);
    letter-spacing: 0.01em;
    color: var(--blackColor);

    @media (max-width: $breakpoint768) {
      flex: 0 1 100%;
      margin-bottom: 25px;
      font-size: rem(28);
      line-height: rem(34);
    }
  }

}

.product-slide {

  // .product-slide__body

  &__body {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  // .product-slide__left

  &__left {}

  // .product-slide__front-top

  &__front-top {
    position: relative;
  }

  // .product-slide__front-img

  &__front-img {
    display: none;
    max-width: 100%;

    &.active {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }

  &__bottom-img {
    display: none;
    max-width: 80%;

    &.active {
      display: block;
      margin: 0 auto;
      max-width: 80%;
    }

    @media (max-width: $breakpoint768) {
      max-width: 80%;
    }
  }

  // .product-slide__front-num

  &__front-num {
    position: absolute;
    top: rem(30);
    left: 60%;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: rem(22);
    line-height: rem(22);
    letter-spacing: -0.125em;
    color: var(--whiteColor);
    opacity: 0;

    @media (max-width: $breakpoint992) {
      top: rem(50);
      font-size: 26px;
      left: 65%;
    }

    @media (max-width: $breakpoint480) {
      top: 17%;
      font-size: rem(18);
      line-height: rem(20);
    }
  }

  // .product-slide__front-logo

  &__front-logo {
    position: absolute;
    top: rem(65);
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: rem(10);
    line-height: rem(11);
    text-align: center;
    color: var(--whiteColor);
    opacity: 0;

    @media (max-width: $breakpoint992) {
      top: rem(120);
    }

    @media (max-width: $breakpoint480) {
      top: 35%;
    }
  }

  &__front-logo-img {
    width: 50px;
    height: 50px;

    @media (max-width: $breakpoint992) {
      width: 70px;
      height: 70px;
    }

    @media (max-width: $breakpoint480) {
      width: 50px;
      height: 50px;
    }
  }

  // .product-slide__front-bottom

  &__front-bottom {
    position: relative;
    // max-width: 80%;
    margin: 0 auto;
  }

  // .product-slide__front-bottom-num

  &__front-bottom-num {
    position: absolute;
    bottom: rem(10);
    right: rem(22);
    font-weight: 400;
    font-size: rem(22);
    line-height: rem(24);
    letter-spacing: -0.125em;
    color: var(--whiteColor);
    opacity: 0;

    @media (max-width: $breakpoint992) {
      font-size: 26px;
      right: rem(40);
    }

    @media (max-width: $breakpoint480) {
      bottom: 10%;
      right: 16%;
      font-size: rem(13);
      line-height: rem(14);
    }
  }

  &__bottom-logo {
    position: absolute;
    bottom: rem(10);
    left: rem(22);
    opacity: 0;

    @media (max-width: $breakpoint992) {
      bottom: rem(20);
      left: rem(40);
    }

    @media (max-width: $breakpoint480) {
      left: 15%;
    }
  }

  &__bottom-logo-img {
    width: 25px;
    height: 25px;

    @media (max-width: $breakpoint992) {
      width: 50px;
      height: 50px;
    }

    @media (max-width: $breakpoint480) {
      width: 30px;
      height: 30px;
    }
  }

  // .product-slide__right

  &__right {
    width: 0;
    opacity: 0;
  }

  // .product-slide__back-top

  &__back-top {
    position: relative;
  }

  &__back-top-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: rem(15);
    left: 50%;
    transform: translateX(-50%);

    &.column-reverse {
      flex-direction: column-reverse;
    }

    @media (max-width: $breakpoint992) {
      top: rem(50);
      gap: rem(20);
    }

    @media (max-width: $breakpoint480) {
      top: 20%;
      gap: rem(20);
    }

    @media (max-width: 360px) {
      top: auto;
      gap: rem(10);
      bottom: 20%;
    }
  }

  // .product-slide__back-comand

  &__back-comand {
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(20);
    text-align: center;
    color: var(--whiteColor);

    @media (max-width: $breakpoint992) {
      bottom: rem(30);
      font-size: 26px;
    }

    @media (max-width: $breakpoint480) {
      bottom: 17%;
      font-size: rem(14);
      line-height: rem(14);
    }
  }

  // .product-slide__back-surname

  &__back-surname {
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(20);
    text-align: center;
    color: var(--whiteColor);

    @media (max-width: $breakpoint992) {
      font-size: 26px;
      top: rem(40);
    }

    @media (max-width: $breakpoint480) {
      top: 20%;
      font-size: rem(14);
      line-height: rem(15);
    }
  }

  // .product-slide__back-num

  &__back-num {
    font-weight: 400;
    font-size: rem(54);
    line-height: rem(60);
    letter-spacing: -0.125em;
    margin-left: -15px;
    color: var(--whiteColor);

    @media (max-width: $breakpoint992) {
      top: 40%;
      font-size: 74px;
    }

    @media (max-width: $breakpoint480) {
      top: 30%;
      font-size: rem(60);
      line-height: rem(44);
    }
  }


  // .product-slide__back-bottom

  &__back-bottom {
    position: relative;
    // max-width: 80%;
    margin: 0 auto;
  }
}

.constructor__slide.swiper-slide-active {

  & .product-slide__back-top-container,
  & .product-slide__front-num,
  & .product-slide__front-name,
  & .product-slide__front-bottom-num,
  & .product-slide__front-logo,
  & .product-slide__bottom-logo {
    opacity: 1;
  }
}


.constructor.constructor-1--2 .constructor__from-title {

  @media (max-width: $breakpoint480) {
    margin: 0 auto;
    max-width: rem(230);
  }
}

.constructor__slide--nothing.swiper-slide-active {
  min-width: em(480);
  justify-content: flex-start;
  margin-right: 0;
  margin-left: em(-75);
  transform: scale(0.8) !important;

  @media (max-width: $breakpoint992) {
    min-width: auto;
    justify-content: center;
    margin-right: em(20);
    margin-left: 0;
  }

}

.product-slide__body--nothing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: em(75) em(60);
  background-color: var(--whiteColor);
  box-shadow: 0px 36px 23px -22px rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  @media (max-width: $breakpoint992) {
    max-width: em(480);
    background-color: var(--lightGrayColor);
    box-shadow: 0px 36px 23px -22px rgba(0, 0, 0, 0.08);
  }

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    padding: em(32) em(23) em(44);
  }
}

.product-slide__icon {
  width: rem(60);
  height: rem(60);
  margin-bottom: em(20);

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    width: rem(37);
    height: rem(37);
    margin-bottom: em(12);

    & svg {
      width: rem(37);
      height: rem(37);
    }
  }
}

.product-slide__text--nothing {
  margin-bottom: em(16);
  font-weight: 600;
  font-size: rem(24);
  line-height: rem(29);
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--blackColor);

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    margin-bottom: em(10);
    font-size: rem(18);
    line-height: rem(22);
  }
}

.product-slide__descr--nothing {
  max-width: em(350);
  margin-bottom: em(40);
  font-weight: 400;
  font-size: rem(16);
  line-height: rem(19);
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--blackColor);

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    margin-bottom: em(25);
    font-size: rem(14);
    line-height: rem(17);
  }
}

.product-slide__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: em(12) em(24);
  background-color: var(--orangeColor);
  border-radius: 8px;
  font-weight: 600;
  font-size: rem(17);
  line-height: rem(21);
  letter-spacing: 0.01em;
  color: var(--whiteColor);

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    font-size: rem(14);
    line-height: rem(17);
  }
}