.constructor__step--first-line-check {
  background-color: var(--orangeColor);
}

.constructor__step-num--active-check {
  background-color: var(--orangeColor);

  &::after {
    background-color: rgba(255, 102, 0, 0.3);
  }
}

.constructor__step-descr--active-check {
  font-weight: 500;
  color: var(--blackColor);
}

/* ARROWS */
.constructor__slider-next,
.constructor__slider-prev {
  position: absolute;
  cursor: pointer;
}

.constructor {

  // .constructor__slider

  &__slider {
    position: relative;
    max-width: em(900);
    margin: 0 auto;
    width: 100%;
    height: em(450);
    margin-bottom: 50px;
    overflow: hidden;

    @media (max-width: $breakpoint480) {
      max-height: 30em;
      height: auto;
    }
  }

  // .constructor__slider--2-1

  &__slider--2-1 {}

  // .constructor__slider-swiper

  &__slider-swiper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  // .constructor__slider-wrapper

  &__slider-wrapper {
    @media (max-width: $breakpoint480) {
      max-height: 25em;
    }
  }

  .swiper-slide {
    transform: inherit;
  }

  // .constructor__slide

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: -40px;
    transform: scale(0.6) !important;
    transition: all .3s ease;

    &.swiper-slide-active {
      margin-bottom: 0;
      transform: scale(1) !important;
      z-index: 2
    }

    &.swiper-slide-active .product-slide__right {
      width: auto;
      opacity: 1;
    }

    @media (max-width: $breakpoint768) {
      transform: scale(1) translateZ(0) !important;
    }
  }

  // .constructor__slider-next

  &__slider-next {
    top: 50%;
    right: 0;
    z-index: 2;
  }

  // .constructor__slider-prev

  &__slider-prev {
    top: 50%;
    left: 0;
    z-index: 2;
  }

  &__slider-pagination {
    display: none;

    & .swiper-pagination-bullet {
      font-size: 0;
      line-height: 0;
      opacity: 1;
      background-color: #E3E3E3;

      &.swiper-pagination-bullet-active {
        background-color: var(--orangeColor);
      }
    }

    @media (max-width: $breakpoint480) {
      display: block;
    }
  }

  // .constructor__footer

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  // .constructor__price

  &__price {
    font-weight: 600;
    font-size: rem(32);
    line-height: rem(39);
    letter-spacing: 0.01em;
    color: var(--blackColor);

    @media (max-width: $breakpoint768) {
      flex: 0 1 100%;
      margin-bottom: 25px;
      font-size: rem(28);
      line-height: rem(34);
    }
  }

}

.product-slide {

  // .product-slide__body

  &__body {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  // .product-slide__left

  &__left {}

  // .product-slide__front-top

  &__front-top {
    position: relative;
  }

  // .product-slide__front-img

  &__front-img {
    display: none;

    &.active {
      display: block;
      margin: 0 auto;
    }

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }

  &__bottom-img {
    display: none;

    &.active {
      display: block;
      margin: 0 auto;
    }

    @media (max-width: $breakpoint768) {
      max-width: 80%;
    }
  }


  // .product-slide__front-bottom

  &__front-bottom {
    position: relative;
  }

  // .product-slide__right

  &__right {
    width: 0;
    opacity: 0;
  }

  // .product-slide__back-top

  &__back-top {
    position: relative;
  }


  // .product-slide__back-bottom

  &__back-bottom {
    position: relative;
  }
}


.constructor.constructor-1--2 .constructor__from-title {

  @media (max-width: $breakpoint480) {
    margin: 0 auto;
    max-width: rem(230);
  }
}

.constructor__slide--nothing.swiper-slide-active {
  min-width: em(480);
  justify-content: flex-start;
  margin-right: 0;
  margin-left: em(-50);

  @media (max-width: $breakpoint992) {
    min-width: auto;
    justify-content: center;
    margin-right: em(20);
    margin-left: 0;
  }

}

.product-slide__body--nothing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: em(75) em(60);
  background-color: var(--whiteColor);
  box-shadow: 0px 36px 23px -22px rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  @media (max-width: $breakpoint992) {
    max-width: em(480);
    background-color: var(--lightGrayColor);
    box-shadow: 0px 36px 23px -22px rgba(0, 0, 0, 0.08);
  }

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    padding: em(32) em(23) em(44);
  }
}

.product-slide__icon {
  width: rem(60);
  height: rem(60);
  margin-bottom: em(20);

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    width: rem(37);
    height: rem(37);
    margin-bottom: em(12);

    & svg {
      width: rem(37);
      height: rem(37);
    }
  }
}

.product-slide__text--nothing {
  margin-bottom: em(16);
  font-weight: 600;
  font-size: rem(24);
  line-height: rem(29);
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--blackColor);

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    margin-bottom: em(10);
    font-size: rem(18);
    line-height: rem(22);
  }
}

.product-slide__descr--nothing {
  max-width: em(350);
  margin-bottom: em(40);
  font-weight: 400;
  font-size: rem(16);
  line-height: rem(19);
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--blackColor);

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    margin-bottom: em(25);
    font-size: rem(14);
    line-height: rem(17);
  }
}

.product-slide__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: em(12) em(24);
  background-color: var(--orangeColor);
  border-radius: 8px;
  font-weight: 600;
  font-size: rem(17);
  line-height: rem(21);
  letter-spacing: 0.01em;
  color: var(--whiteColor);

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    font-size: rem(14);
    line-height: rem(17);
  }
}