@font-face {
  font-family: 'Din Pro';
  src: url('../fonts/dinpro_bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Rodchenkoctt';
  src: url('../fonts/rodchenkoctt.ttf');
}

@font-face {
  font-family: 'Bitcrusher Condensed';
  src: url('../fonts/BitcrusherCdEl-Regular.woff');
  font-weight: 400;
}