@font-face {
  font-family: 'Collegiate Heavy Outline';
  src: url('../fonts/collegiateHeavyOutline_Medium.ttf');
}

@font-face {
  font-family: 'Rodchenkoctt';
  src: url('../fonts/rodchenkoctt.ttf');
}