.inputfile:focus+label,
.inputfile.has-focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}


.constructor {

  // .constructor__selected

}

.selected {
  padding-bottom: em(45);
  margin-bottom: em(30);
  border-bottom: 1px solid #BDBDBD;

  // .selected__inner

  &__inner {
    display: flex;
    column-gap: em(75);

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: em(35);
    }
  }

  // .selected__tshirt

  &__tshirt {
    width: 100%;
    padding-left: em(20);

    @media (max-width: $breakpoint992) {
      padding-left: 0;
      padding-bottom: em(35);
      border-bottom: 1px solid #BDBDBD;
    }
  }

  // .selected__tshirt-title

  &__tshirt-title {
    margin-bottom: em(40);
    text-align: left;
    align-self: flex-start;
    font-weight: 600;
    font-size: rem(24);
    line-height: rem(29);
    color: var(--blackColor);

    @media (max-width: $breakpoint992) {
      margin-bottom: em(30);
    }
  }

  // .selected__tshirt-columns

  &__tshirt-columns {
    display: flex;
    column-gap: em(24);

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: em(25);
    }
  }

  // .selected__tshirt-column

  &__tshirt-column {
    width: 100%;
  }

  // .selected__tshirt-item

  &__tshirt-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: em(25);
    }

    & .ui-selectmenu-text {
      font-weight: 500;
      font-size: rem(16);
      line-height: rem(19);
      color: var(--blackColor);
    }

    & .ui-button {
      position: relative;
      max-width: rem(357);
      width: 100%;
      padding: rem(12) rem(15);
      background-color: var(--whiteColor);
      border-radius: 8px;
      border: 1px solid transparent;
      font-family: var(--fontMain);
      font-weight: 500;
      font-size: rem(16);
      line-height: rem(19);
      color: var(--blackColor);

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: rem(15);
        height: rem(7);
        transform: translate(-50%);
        background-image: url('../img/input-arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transition: transform 0.2s linear;
      }

      &:hover {
        border: 1px solid rgba(255, 102, 0, 0.4);
      }

      @media (max-width: $breakpoint992) {
        border: 1px solid #ACACAC;
      }

      @media (max-width: $breakpoint768) {
        max-width: 100%;
      }
    }

    & .ui-button.ui-selectmenu-button-open {
      border: 1px solid rgba(255, 102, 0, 0.4);
      border-bottom: none;
      border-radius: 8px 8px 0 0;

      &::after {
        transform: translate(-50%) rotate(180deg);
      }
    }
  }

  // .selected__tshirt-item--color

  &__tshirt-item--color {}

  // .selected__tshirt-label

  &__tshirt-label {
    display: inline-flex;
    margin-bottom: em(10);
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem(15);
    line-height: rem(18);
    color: var(--blackColor);
  }

  // .selected__tshirt-select

  &__tshirt-select {}

  // .selected__tshirt-option

  &__tshirt-option {}

  // .selected__tshirt-option-descr

  &__tshirt-option-descr {
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(19);
    color: var(--blackColor);
  }

  // .selected__tshirt-item--collar

  &__tshirt-item--collar {}

  // .selected__tshirt-item--sleeve

  &__tshirt-item--sleeve {}

  // .selected__tshirt-download

  &__tshirt-download {}

  // .selected__tshirt-teams

  &__tshirt-teams {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: em(20);
  }

  // .selected__tshirt-team

  &__tshirt-team {
    display: inline-flex;
    margin-bottom: em(10);
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem(15);
    line-height: rem(18);
    color: var(--blackColor);
  }

  // .selected__tshirt-input

  &__tshirt-input {
    max-width: rem(357);
    width: 100%;
    padding: rem(12) rem(15);
    background-color: var(--whiteColor);
    border-radius: 8px;
    border: none;
    background-color: var(--whiteColor);
    border: 1px solid transparent;
    border-radius: 8px;
    outline: transparent;
    font-family: var(--fontMain);
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(19);
    color: var(--blackColor);


    &::placeholder {
      font-weight: 500;
      font-size: rem(16);
      line-height: rem(19);
      color: #9E9E9E;
    }

    &:hover {
      border: 1px solid #ACACAC;
    }

    &:active {
      border: 1px solid #FF6600;
    }

    &:disabled {
      user-select: none;
      pointer-events: none;
      background: #E5E5E5;
      border: 1px solid #ACACAC;
    }

    &.js-error {
      border: 1px solid #FF0000;
      color: #FF0000;
    }

    @media (max-width: $breakpoint992) {
      border: 1px solid #BDBDBD;
    }

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }

  // .selected__tshirt-deleted

  &__tshirt-deleted {}

  // .selected__tshirt-group

  &__tshirt-group {

    &:not(:last-child) {
      margin-bottom: em(12);
    }
  }

  // .selected__tshirt-checkbox

  &__tshirt-checkbox {
    position: absolute;
    width: 0;
    opacity: 0;
    z-index: -100;

    &:checked~.selected__tshirt-delete-label .selected__tshirt-square {
      background-color: var(--orangeColor);
      border: 1px solid var(--orangeColor);
    }

    &:checked~.selected__tshirt-delete-label .selected__tshirt-square::before {
      content: '';
    }
  }

  // .selected__tshirt-delete-label

  &__tshirt-delete-label {
    display: flex;
    column-gap: 10px;

    &:hover .selected__tshirt-square {
      border: 1px solid var(--orangeColor);
    }
  }

  // .selected__tshirt-square

  &__tshirt-square {
    position: relative;
    width: rem(20);
    height: rem(20);
    background-color: var(--whiteColor);
    border: 1px solid #ACACAC;
    border-radius: 4px;

    &::before {
      position: absolute;
      display: block;
      top: 1px;
      left: 7px;
      width: 6px;
      height: 12px;
      border: solid var(--whiteColor);
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 1;
    }

    &:disabled {
      user-select: none;
      pointer-events: none;
      background-color: #E5E5E5;
      border: 1px solid #ACACAC;
    }
  }

  // .selected__tshirt-delete

  &__tshirt-delete {}

  // .selected__shorts

  &__shorts {
    width: 55%;
    padding-left: em(75);
    padding-right: em(20);
    border-left: 1px solid #BDBDBD;

    @media (max-width: $breakpoint992) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: em(50);
      border-left: none;
      border-bottom: 1px solid #BDBDBD;
    }

    @media (max-width: $breakpoint768) {
      padding-bottom: em(40);
    }
  }

  // .selected__shorts-column

  &__shorts-column {
    width: 100%;

    @media (max-width: $breakpoint992) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: em(24);

      & .selected__tshirt-group {
        order: 4;
      }
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);

      & .selected__tshirt-item,
      & .selected__tshirt-download,
      & .selected__tshirt-group {
        margin-bottom: 0;
      }
    }
  }

  // .selected__tshirt-item--color-num

  &__tshirt-item--color-num {

    @media (max-width: $breakpoint992) {
      order: 2;
    }

    @media (max-width: $breakpoint768) {
      order: 3;
    }

  }

  &__tshirt-item--color {

    @media (max-width: $breakpoint992) {
      order: 1;
    }

  }
}

.tshirt-option {
  display: flex;
  align-items: center;

  // .tshirt-option__color

  &__color {}

  // .tshirt-option__color--red

  &__color--red {}
}

.download-logo {
  outline: transparent;
  // .download-logo__box

  &__box {
    outline: none;

    &:active {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }

  // .download-logo__inputfile

  &__inputfile {
    position: absolute;
    width: 0;
    opacity: 0;
    z-index: -100;
    outline: transparent;
    border: none;

    &:active {
      outline: transparent;
      border: none;
    }

    &:focus {
      outline: transparent;
      border: none;
    }
  }

  // .download-logo__label

  &__label {
    display: flex;
    column-gap: 12px;
    outline: transparent;
    border: none;
    cursor: pointer;

    &:hover .download-logo__btn p {
      color: var(--orangeColor);
    }

    &:active {
      outline: transparent;
      border: none;
    }

    &:focus {
      outline: transparent;
      border: none;
    }
  }

  // .download-logo__btn

  &__btn {
    text-align: left;

    p {
      font-weight: 400;
      font-size: rem(16);
      line-height: 140%;
      color: var(--blackColor);
    }

    span {
      font-weight: 400;
      font-size: rem(12);
      line-height: 140%;
      color: var(--blackColor);
    }

    &.js-success {

      span {
        color: var(--orangeColor);
      }
    }

    &.js-error {

      p {
        color: #FF0000;
      }
    }
  }

  // .download-logo__btn--error

  &__btn--error {}
}

.inputfile-1 {}

.js-error {}

.num-option {

  // .num-option__color

  &__color {}

  // .num-option__color--white

  &__color--white {}
}

.shorts-option {

  // .shorts-option__color

  &__color {
    display: inline-flex;
    width: rem(27);
    height: rem(27);
    margin-right: em(15);
    background-color: red;
  }

  // .shorts-option__color--black

  &__color--black {}
}

.inputfile-2 {}

.download-logo--2 {
  margin-bottom: em(60);

  @media (max-width: $breakpoint992) {
    margin-bottom: 0;
    order: 3;
  }

  @media (max-width: $breakpoint768) {
    order: 2;
  }
}

.ui-menu .ui-menu-item-wrapper {
  display: flex;
  padding: rem(6) rem(15);
  font-family: var(--fontMain);
  font-weight: 500;
  color: #9E9E9E;
  transition: color 0.2s linear;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: none;
  background-color: var(--whiteColor);
  color: var(--blackColor);
}

.ui-widget.ui-widget-content {
  border: 1px solid rgba(255, 102, 0, 0.4);
  border-top: none;
  border-radius: 0 0 8px 8px;
}

.inputfile.inputfile.has-focus+label,
.inputfile:focus+label {
  outline: transparent;
}

.tshirt-option__color.ui-selectmenu-icon.ui-icon {
  display: inline-flex;
  float: left;
  width: rem(27);
  height: rem(27);
  margin-right: em(15);
  background-color: red;
}