.constructor {

  // .constructor__size

  &__size {
    padding-bottom: em(40);

    @media (max-width: $breakpoint1450) {
      margin-bottom: 0;
    }
  }
}

.size {
  position: relative;

  // .size__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: em(24);

    @media (max-width: $breakpoint1450) {
      flex-direction: column;
      row-gap: em(40);
    }
  }

  // .size__view

  &__view {
    display: flex;
    flex-direction: column;

    @media (max-width: $breakpoint1450) {
      justify-content: center;
    }
  }

  &__view-header {
    display: flex;
    column-gap: em(24);
    margin-bottom: em(40);

    @media (max-width: $breakpoint1450) {
      justify-content: center;
      margin-bottom: em(30);
    }
  }

  // .size__view-front

  &__view-front {}

  // .size__view-back

  &__view-back {}

  // .size__date

  &__date {}
}

.view-front {

  // .view-front__top

  &__top {
    position: relative;
  }

  // .view-front__top-img

  &__top-img {

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }


  // .view-front__bottom

  &__bottom {
    position: relative;
  }

  // .view-front__bottom-img

  &__bottom-img {

    @media (max-width: $breakpoint768) {
      max-width: 80%;
    }
  }

}

.view-back {

  // .view-back__top

  &__top {
    position: relative;
  }

  // .view-back__top-img

  &__top-img {

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }


  // .view-back__bottom

  &__bottom {
    position: relative;
  }

  // .view-back__bottom-img

  &__bottom-img {

    @media (max-width: $breakpoint768) {
      max-width: 80%;
    }
  }
}

.size-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $breakpoint1450) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $breakpoint992) {}

  & .constructor__footer {
    margin-bottom: em(-40);
    padding-top: em(30);
    border-top: 1px solid #BDBDBD;

    @media (max-width: $breakpoint1450) {
      width: 100%;
    }
  }

  &__header {

    @media (max-width: $breakpoint1450) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: $breakpoint768) {
      align-items: flex-start;
    }
  }

  // .size-date__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: em(25);
    margin: 0;
    margin-bottom: em(25);
  }

  // .size-date__item

  &__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    column-gap: em(25);
    row-gap: em(25);
    text-align: left;
    margin: 0;
    padding: 0;

    &::before {
      content: none;
      display: none;
    }

    & .selected__tshirt-item:not(:last-child) {
      margin-bottom: 0;
    }

    @media (max-width: $breakpoint1450) {
      justify-content: center;
    }

    @media (max-width: $breakpoint992) {
      justify-content: flex-start;
      flex-wrap: wrap;
      column-gap: em(20);
      row-gap: em(20);
      padding: em(25);
      background-color: #F8F8F8;
    }

    @media (max-width: $breakpoint768) {
      padding: em(25) em(16);
    }
  }

  // .size-date__count

  &__count {
    flex: 0 1 20px;
    padding: 6px 0;
    font-weight: 500;
    font-size: rem(16);
    line-height: 140%;
    letter-spacing: 0.01em;

    @media (max-width: $breakpoint992) {
      flex: 0 0 1%;
    }

    @media (max-width: $breakpoint768) {
      position: absolute;
      top: rem(-15);
      left: rem(-15);
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(30);
      height: rem(30);
      border-radius: 100%;
      background-color: var(--orangeColor);
      color: var(--whiteColor);
    }
  }

  // .size-date__surname

  &__surname {
    flex: 0 1 163px;

    @media (max-width: $breakpoint992) {
      flex: 0 1 47%;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 100%;
    }
  }

  // .size-date__label

  &__label {}

  // .size-date__input

  &__input {}

  // .size-date__num

  &__num {
    flex: 0 1 103px;

    @media (max-width: $breakpoint992) {
      flex: 0 0 103px;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 calc(50% - 20px);
    }
  }

  // .size-date__tshort

  &__tshort {
    flex: 0 1 103px;
    margin-bottom: 0;

    @media (max-width: $breakpoint992) {
      flex: 0 0 103px;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 calc(50% - 20px);
    }

  }

  // .size-date__shorts

  &__shorts {
    flex: 0 1 103px;
    margin-bottom: 0;

    @media (max-width: $breakpoint992) {
      flex: 0 1 47%;
      margin-left: calc(1% + 20px);
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 100%;
      margin-left: 0;
    }
  }

  // .size-date__sleeve

  &__sleeve {
    flex: 0 1 176px;
    margin-bottom: 0;

    @media (max-width: $breakpoint992) {
      flex: 0 0 226px;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 calc(80% - 20px);
    }
  }

  // .size-date__delete

  &__delete {
    flex: 0 1 20px;
    padding: 6px 0;

    @media (max-width: $breakpoint992) {
      margin-left: auto;
    }
  }

  // .size-date__delete-btn

  &__delete-btn {
    background-color: transparent;

    svg path {
      transition: all 0.2s linear;
    }

    &:hover {
      svg path {
        stroke-opacity: 1;
        stroke: var(--orangeColor);
      }
    }
  }

  // .size-date__footer

  &__footer {
    display: flex;
    align-items: center;
    column-gap: em(12);
    row-gap: em(12);
    margin-bottom: em(30);

    @media (max-width: $breakpoint1450) {
      column-gap: em(50);
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .size-date__added

  &__added {
    display: flex;
    align-items: center;
    column-gap: em(15);
    cursor: pointer;

    &:hover {
      & .size-date__text {
        color: var(--orangeColor);
      }
    }
  }

  // .size-date__icon

  &__icon {}

  // .size-date__text

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: rem(16);
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--textColor);
    transition: color 0.2s linear;
  }

  // .size-date__table

  &__table {
    display: flex;
    align-items: center;
    column-gap: em(15);
    cursor: pointer;

    &:hover {
      & .size-date__text {
        color: var(--orangeColor);
      }
    }
  }
}

.constructor__footer-info {
  flex: 0 0 rem(483);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: em(10);
  font-weight: 500;
  font-size: rem(16);
  line-height: rem(19);
  color: var(--blackColor);
  cursor: pointer;
  transition: color 0.1s linear;

  &:hover {
    color: var(--orangeColor);
  }

  & span:hover~.size__view-tooltip {
    display: block;
  }

  @media (max-width: $breakpoint1450) {
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
  }

}

.constructor__footer-info-img {
  cursor: default;

  &:hover~span {
    color: var(--blackColor);
  }
}

.size__view-footer {
  position: relative;
}

.size__view-tooltip {
  position: absolute;
  top: rem(30);
  left: 0;
  display: none;
  max-width: rem(250);
  padding: rem(10);
  background-color: var(--blackColor);
  border-radius: 8px;
  font-weight: 500;
  font-size: rem(16);
  line-height: rem(19);
  color: var(--whiteColor);
  z-index: 2;

  &:hover {
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    top: -6px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--blackColor);
  }


  @media (max-width: $breakpoint1450) {
    left: 50%;
    transform: translateX(-50%);

    &::after {
      left: 34%;
      transform: translateX(-50%);
    }
  }

  @media (max-width: $breakpoint992) {

    &::after {
      left: 33%;
      transform: translateX(-50%);
    }
  }

  @media (max-width: $breakpoint480) {

    &::after {
      left: 20%;
      transform: translateX(0);
    }
  }
}